.review > table {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  th {
    color: #400080;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
  }

  tr {
    font-style: italic;
    color: #808080;
    text-align: left;
    font-size: 12px;
  }
}



@media (max-width: 500px) {
  #comment {
    width: 100%;
  }
}
